{{runChangeDetection}}

<div><a uiSref="list.add" uiSrefActive="active">Add Todo Item</a>
<ui-view></ui-view>
</div>

<div>
    <table>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>description</td>
        </tr>
        <tr *ngFor="let item of (items$ | async)">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.desc}}</td>
            <td><button uiSref="list.edit" [uiParams]="{id: item.id}">Edit</button></td>
            <td><button (click)="removeItem(item.id)">Remove</button></td>
        </tr>
    </table>
</div>